*::before,
*::after,
* {
	box-sizing: border-box;
	// contain: auto
	margin: 0;
	padding: 0;
}
:root {
	--perspective: 960px;
	font-size: 10px;
	@media screen and (min-width: 719px) {
		font-size: 16px;
	}
	user-select: none;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 82%;
	width: 100%;
}

p {
	margin: 0.25em 0 0.25em 0;
}

html,
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: rgb(52, 52, 52) !important;
	color: white;
	inset: 0;
	position: absolute;
	background-color: black !important;
	overflow: hidden;
	margin: 0;
	transform-style: flat;
	touch-action: none;
}

.surface {
	transform-style: preserve-3d;
	position: absolute;
	inset: 0;
	transform-origin: center;
	width: 4rem;
	height: 4rem;
	transform-origin: center;
	backface-visibility: hidden;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.wall {
	position: absolute;
	width: 64px;
	height: 64px;
	display: flex;
	//
	top: 0;
	left: 0;
	perspective: var(--perspective);
	transform-style: preserve-3d;
	backface-visibility: hidden !important;
	image-rendering: pixelated;
	&.front {
		transform-origin: center;
		transform: rotateY(0deg);
	}
	&.right {
		transform-origin: left;
		transform: rotateY(90deg);
	}
	&.back {
		transform: rotateY(180deg);

		transform-origin: center;
	}
	&.left {
		transform-origin: right;
		transform: rotateY(-90deg);
	}
}

.wall,
.floor {
	backface-visibility: hidden !important;
}

.floor {
	position: fixed;
	overflow: hidden;
	width: 640px;
	height: 640px;
	will-change: top;
	backface-visibility: hidden;
	min-width: 100%;

	background-color: rgb(104, 104, 104) !important;
	transform: scale3d(64, 1, 64) rotateX(90deg);
	backface-visibility: hidden;
}
