*::before,
*::after,
* {
	box-sizing: border-box;
	// contain: auto
	margin: 0;
	padding: 0;
}
:root {
	--perspective: 1000px;
	transform-style: flat;
	font-size: 16px;
	user-select: none;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 82%;
	width: 100%;
}

p {
	margin: 0.25em 0 0.25em 0;
}

html,
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: rgb(52, 52, 52) !important;
	color: white;
	position: fixed;
	inset: 0;
	overflow: hidden;
	margin: 0;
	transform-style: preserve-3d;
}

.surface {
	transform-style: preserve-3d;
	position: fixed;

	width: 64px;
	height: 64px;
	transform-origin: top left;
	will-change: visibility;
	backface-visibility: hidden;
}

.hidden {
	display: none;
	// content-visibility: hidden;
	visibility: hidden;
}

.wall {
	position: fixed;
	width: 64px;
	height: 64px;
	will-change: visibility;
	// isolation: auto;
	// overflow: hidden;

	transform-style: preserve-3d;
	backface-visibility: hidden;
	image-rendering: pixelated;
	&.front {
		transform-origin: center;
		transform: rotateY(0deg) translateZ(64px);
	}
	&.right {
		transform-origin: right;
		transform: rotateY(90deg) translateZ(32px);
	}
	&.back {
		transform: rotateY(180deg) translateZ(32px);
		// background-position-x: 51px;
		transform-origin: center;
	}
	&.left {
		transform-origin: left;
		transform: rotateY(-90deg) translateZ(32px);
		// background-position-x: 51px;
	}
}

.wall,
.floor {
	// top: 50%;
	backface-visibility: hidden !important;

	font-family: sans-serif;
	font-size: 3em;
	text-align: center;
	line-height: 300px;

	background-size: 100%;
	background-repeat: repeat;
}

.floor {
	position: fixed;
	// overflow: hidden;
	width: 4096px;
	height: 4096px;
	backface-visibility: hidden;
	min-width: 100%;

	background-color: rgb(104, 104, 104) !important;
	transform: scale3d(64, 1, 64) rotateX(90deg);
	backface-visibility: hidden;
}
