*::before,
*::after,
* {
	box-sizing: border-box;
	// contain: auto
	margin: 0;
	padding: 0;
}
:root {
	--perspective: 1150px;
	transform-style: flat;
	font-size: 16px;
	user-select: none;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 82%;
	width: 100%;
}

p {
	margin: 0.25em 0 0.25em 0;
}

html,
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: rgb(52, 52, 52) !important;
	color: white;
	position: fixed;
	inset: 0;
	contain: strict;
	overflow: hidden;
	margin: 0;
	// transform-style: preserve-3d;
}

.surface {
	transform-style: preserve-3d;
	position: absolute;
	inset: 0;
	// contain: layout style size;
	// overflow: hidden;
	// flex-direction: ;
	// flex: 0 1;
	width: 64px;
	height: 64px;
	transform-origin: center;
	opacity: 1;
	backface-visibility: hidden;
}

.hidden {
	display: none;

	content-visibility: hidden;
	visibility: hidden;
	opacity: 0;
}

.wall {
	position: absolute;
	width: 64px;
	height: 64px;
	will-change: none;
	// contain: layout style size;
	// will-change: opacity;
	// isolation: auto;
	// overflow: hidden;
	//
	top: 0;
	left: 0;
	// inset: 0;
	transform-style: preserve-3d;
	backface-visibility: hidden !important;
	image-rendering: pixelated;
	&.front {
		transform-origin: center;
		transform: rotateY(0deg);
	}
	&.right {
		transform-origin: right;
		transform: rotateY(90deg);
	}
	&.back {
		transform: rotateY(180deg);
		// background-position-x: 51px;

		transform-origin: center;
	}
	&.left {
		transform-origin: left;
		transform: rotateY(270deg);
		// background-position-x: 51px;
	}
}

.wall,
.floor {
	// top: 50%;
	backface-visibility: hidden !important;

	// font-family: sans-serif;
	// font-size: 3em;

	// background-size: 100%;
}

.floor {
	position: fixed;
	overflow: hidden;
	width: 4096px;
	height: 4096px;
	backface-visibility: hidden;
	min-width: 100%;

	background-color: rgb(104, 104, 104) !important;
	transform: scale3d(64, 1, 64) rotateX(90deg);
	backface-visibility: hidden;
}
